# Python podstawy, część 1: zmienne

Zmienne w Pythonie (i innych językach programowania) to "pojemniki", które przechowują wartości danych. Innymi słowy, są to nazwy, które nadajemy informacjom przetwarzanym przez komputer.

Zmienna ma swój typ **(int, float, complex, str)** tzn.: za pomocą zmiennych różnych typów opisujemy:
* int: liczby całkowite,
* float: liczby rzeczywiste,
* complex: liczby zespolone,
* str: ciągi znaków,
* bool: wartości prawda i fałsz (True / False).

Python wprowadza zasady odnośnie nazw zmiennych:
- zmienna musi zaczynać się od angielskiej litery albo podkreślnika, np.:

zmienna = 0
_zmienna = 0

In [1]:
zmienna = 10

In [2]:
zmienna

10

In [3]:
print(zmienna)

10

In [4]:
zmienna_str = 'to jest tekst'

In [5]:
print(zmienna_str)

to jest tekst

In [6]:
type(zmienna_str)

str

- zmienna nie może zaczynać się od numeru, czyli:

In [8]:
_zmienna = 0

- zmienna może być stworzona tylko ze znaków alfanumerycznych i podkreślnika,
- wielkość znaków MA znaczenie.

In [9]:
Zmienna = 10.09
zmieNNA = 10.09

print(id(Zmienna), id(zmieNNA))
print(id(Zmienna) == id(zmieNNA))

4422153416 4426248408
False

ale:

In [10]:
Zmienna = 10
zmieNNA = 10

print(id(Zmienna), id(zmieNNA))
print(id(Zmienna) == id(zmieNNA))

4367533760 4367533760
True

## Ćwiczenie 1: przypisanie wartości do zmiennych

Przypisz wartości:
- 10,
- 0.45,
- 7j,
- 'tekst'

do wybranych zmiennych i sprawdź ich typ - przykład w komórce poniżej.

In [ ]:
zmienna = 1
type(zmienna)

In [11]:
# Miejsce na twój kod

liczba_calkowita = 10
type(liczba_calkowita)

int

In [12]:
liczba_rzecz = 0.45
type(liczba_rzecz)

float

In [13]:
liczba_zesp = 7j
type(liczba_zesp)

complex

## Ćwiczenie 2: Podstawowe operacje na zmiennych

### A) Dodawanie:

In [14]:
a = 5
b = 10
c = a + b
print(c)

15

### B) Odejmowanie:

In [15]:
a = 5
b = 10
c = a - b
print(c)

-5

### C) Mnożenie:

In [16]:
a = 5
b = 10
c = a * b
print(c)

50

### D) Dzielenie:

In [17]:
a = 5
b = 10
c = a / b
print(c)

0.5

Teraz twoja kolej: przetestuj te wszystkie operacje dla pozostałych typów zmiennych:


1) Dodaj dwie zmienne typu float (liczby zmiennoprzecinkowe),

2) Odejmij od zmiennej typu int zmienną typu float,

3) Pomnóż zmienną typu str ze zmienną typu int (!),

4) Dodaj dwie zmienne typu str,

5) Dodaj do siebie zmienną bool True i False, jaki jest wynik?

In [19]:
zmienna = 0.1
zmienna_2 = 0.2
wynik = zmienna + zmienna_2
print(wynik)

0.30000000000000004

In [20]:
# 2

l_calkowita = 10
l_rz = 9.34
print(l_calkowita - l_rz)

0.6600000000000001

In [21]:
# 3

tekst = 'tekst'
liczba = 3
print(tekst * liczba)

tekstteksttekst

In [22]:
# 4

tekst_pierwszy = 'to jest'
tekst_drugi = ' tekst'
print(tekst_pierwszy + tekst_drugi)

to jest tekst

In [25]:
True and False

False

## Ćwiczenie 3: Operacje boolowskie na zmiennych

Python umożliwia przeprowadzenie wszystkich operacji porównania:
- to, czy zmienne są różne: !=
- to, czy zmienne są takie same: ==
- to, czy jedna zmienna jest większa niż inna: >
- to, czy jedna zmienna jest mniejsza niż inna: <
- to czy jedna zmienna jest większa lub równa niż inna: >=
- to czy jedna zmienna jest mniejsza lub równa niż inna: <=

Operacje porównania używane są zwykle do sprawdzania, czy dane którymi operujemy, są zgodne z tym, czego oczekuje się od programu albo służą ustalaniu kolejności wykonywania operacji (co może być ze sobą powiązane).

Przećwiczymy różne operacje boolowskie na zmiennych.

* Sprawdź, czy 1 nie równa się 10
* Sprawdź, czy 1 równa się '1'
* Sprawdź, czy 'Hello World' równa się 'Hello World'
* Sprawdź, czy 10 jest większe lub równe 10.0
* Sprawdź, czy 0.99 do potęgi 5 jest większe niż 0.5 (w Pythonie potęguje się przez podwójną gwiazdkę, przykład w komórce poniżej):

In [38]:
'1' = 10

SyntaxError: can't assign to literal (<ipython-input-38-a59dd09a7517>, line 1)

In [33]:
1 == '1'

False

In [34]:
'Hello World' == 'Hello World'

True

In [36]:
10 == 10.0

True

In [39]:
0.99**5 > 0.5

True

## Ćwiczenie 4: Operacje na ciągach znaków

Praca inżyniera danych jak i programisty często polega na przetwarzaniu ciągów znaków: nazw produktów, imion i nazwisk, loginów i haseł, wpisów na blogach albo artykułów w internetowych wiadomościach. Stąd trzeba przyłożyć dużą wagę do tych zagadnień.

Inicjowałeś już zmienne typu string i wiesz, że można je do siebie dodawać. Teraz poznasz kolejne operacje, które mogą być na nich wykonywane.

---

Przekopiuj ten tekst do jednej zmiennej: 'Python is '

A ten do drugiej zmiennej: 'awesome programming language.'

A ten do trzeciej zmiennej: 'Java Script too, try it!'

---

Od teraz będziesz pracować na tych trzech ciągach znaków.

In [50]:
z1 = 'Python is '
z2 = 'awesome programming language.'
z3 = 'Java Script too, try it!'

> Zadanie 1: Dodaj do siebie zmienne phrase_1 i phrase_2 i wyświetl je za pomocą metody print()

In [51]:
zmienna = z1 + z2
print(zmienna)

Python is awesome programming language.

> Zadanie 2: sprawdź liczbę znaków we frazie. Wykorzystaj metodę len(zmienna_będąca_ciągiem_znaków)

In [52]:
len(zmienna)

39

> Zadanie 3: Uwórz nową zmienną i dodaj do siebie wszystkie łańcuchy znaków (phrase_1, phrase_2 i phrase_3). Następnie znajdź we frazie pozycję słów 'Java Script'. Użyj do tego metody find() - przykład poniżej.

In [ ]:
z = 'To jest przykład wykorzystania metody find'
z.find('przykład')

In [54]:
nowa_zmienna = z1 + z2 + z3
js = 'Java Script'
js_pos = nowa_zmienna.find(js)
print(js_pos)

39

> Zadanie 4: Wykorzystaj wiedzę z poprzedniego zadania wraz ze specjalną własnością Pythona odnoszącą się do adresowania znaków w ciągach liter i utwórz nową zmienną, która będzie składać się z tekstu 'Python is awesome programming language, try it!'. Możesz to zrobić na kilka sposobów, ale wykorzystując tylko zmienne phrase_1, phrase_2 i phrase_3, operacje adresowania, metodę find i dodawanie łańcuchów znaków. 
Kluczem do rozwiązania jest adresowanie znaków. W przykładzie wyżej użyłeś metody find(), która wskazała miejsce, od którego rozpoczyna się dana fraza. Znając to miejsce, (jak i dowolne inne, zawierające się w długości łańcucha znaków), możesz manipulować łańcuchem znaków. Zwróć uwagę na kwadratowe nawiasy i dwukropki wewnątrz nich:

In [ ]:
z = 'To jest przykład wykorzystania metody find'
pozycja_przykladu = z.find('przykład')
print(z[pozycja_przykladu:])  # przycina zdanie [od 8 znaku : {domyślnie do końca jeśli nie podamy żadnej liczby}]
print(z[:pozycja_przykladu])  # przycina zdanie [{domyślnie od początku jeśli nie podamy żadnej liczby}: do 8 znaku]
print(z[pozycja_przykladu:pozycja_przykladu+len('przyklad')])  # nieco bardziej zaawansowane wykorzystanie metody

In [63]:
# 'Python is awesome programming language, try it!'

js_z = '.Java Script too'
comma = ','
place = nowa_zmienna.find(js_z)
comma_place = nowa_zmienna.find(comma)
output1 = nowa_zmienna[:place]
output2 = nowa_zmienna[comma_place:]
output = output1 + output2
print(nowa_zmienna)
print(place)
print(comma_place)
print(output1)
print(output2)
print(output)

Python is awesome programming language.Java Script too, try it!
38
54
Python is awesome programming language
, try it!
Python is awesome programming language, try it!

In [69]:
js_z = '.Java Script too'
place = nowa_zmienna.find(js_z)
length = len(js_z)
place_2 = place + length
output1 = nowa_zmienna[:place]
output2 = nowa_zmienna[place_2:]
output = output1 + output2
print(place)
print(length)
print(place_2)
print(output)

38
16
54
Python is awesome programming language, try it!

In [66]:
38 + 16

54

> Zadanie 5: zliczanie znaków. Zastosuj metodę count() do zliczenia ile razy w tekście wystąpiła litera 'i'.

In [70]:
# Tekst zaczerpnięty z artykułu Patti Miller - https://www.theguardian.com/books/2019/jul/25/walking-helped-me-discover-the-slow-unfurling-joy-of-reading-books-aloud

phrase = 'The next year, walking 270km westwards across the Massif Centrale in France, The Way of the World by Nicolas Bouvier came with us. I remember one evening on a farm, sitting on the front veranda of our cabin, waiting for a rare blue moon to rise as Anthony read of the glorious blue tiles on the Royal Mosque at Isfahan.'

In [73]:
phrase.count('i') + phrase.count('I')

17

> Zadanie 6: Teraz zlicz wszystkie litery, i wielkie, i małe litery 'i' w tekście z poprzedniego zadania. Pomocne mogą się okazać metody lower() albo upper().

In [78]:
phrase_upper = phrase.upper()
phrase_upper.count('I')

17

> Zadanie 7: W każdym łańcuchu znaków możesz usunąć wybrany ciąg znaków i zastąpić go innym znakiem. Bardzo często trzeba zamieniać przecinki na kropki i odwrotnie, jeśli wczytujesz ciągi liczb zapisane w systemie polskim albo anglosaskim. Wykorzystaj metodę replace i zamień wszystkie spacje w ciągu znaków "10 11 12 13" na przecinki. Przykład poniżej:

In [79]:
z = 'to jest przykładowy tekst'
z.replace('/&NFG', 'ł')

'po jesp przykładowy peksp'

In [80]:
zmienna = "10 11 12 13"
zmienna_2 = zmienna.replace(' ', ',')
zmienna_2

'10,11,12,13'